<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation">
        <a class="navbar-brand font-weight-bold" href="@Url.Action("Index","Home")">

   <img class="img-fluid" src="~/Images/Untitled-1.png" alt="Logo" style="min-height:10px;min-width:10px;height:50px;" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("CONTACT US", "Contact", "Home", null, new { @class = "nav-link" })
                </li>


            </ul>
            <ul class="nav navbar-nav ml-auto">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item"> @Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", null, new { @class = "nav-link" })</li>
                    <li class="nav-item"> @Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", null, new { @class = "nav-link" })</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
