@model NuggetEventsManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="jumbotron Jumbo_Bacground text-center justify-content-center ">
    <img src="~/Images/Untitled-1.png" height="100" width="300" class="img-fluid justify-content-center text-center" />
    <div class="container" style="padding-top:10px;">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {


            @Html.AntiForgeryToken()


            <div class="form-row justify-content-center">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Name", style = "margin:5px;" })
            </div>
            <div class="form-row justify-content-center">
                @if (!ViewData.ModelState.IsValidField(nameof(Model.FirstName)))
                {
                    <div class="container text-center text-secondary font-weight-light" style="font-family:'Montserrat'">
                        <i class="fa fa-warning text-danger"></i>  @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger font-weight-bold " })
                    </div>
                }
            </div>
            <div class="form-row justify-content-center">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Surname", style = "margin:5px;" })
            </div>
            <div class="form-row justify-content-center">
                @if (!ViewData.ModelState.IsValidField(nameof(Model.Surname)))
                {
                    <div class="container text-center text-secondary font-weight-light" style="font-family:'Montserrat'">
                        <i class="fa fa-warning text-danger"></i>  @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "text-danger font-weight-bold " })
                    </div>
                }
            </div>



            <div class="form-row justify-content-center">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Address", style = "margin:5px;" })
            </div>
            <div class="form-row justify-content-center">
                @if (!ViewData.ModelState.IsValidField(nameof(Model.Email)))
                {
                    <div class="container text-center text-secondary font-weight-light" style="font-family:'Montserrat'">
                        <i class="fa fa-warning text-danger"></i>  @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger font-weight-bold " })
                    </div>
                }
            </div>

            <div class="form-row justify-content-center">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", style = "margin:5px;" })
            </div>
            <div class="form-row justify-content-center">
                @if (!ViewData.ModelState.IsValidField(nameof(Model.Password)))
                {
                    <div class="container text-center text-secondary font-weight-light" style="font-family:'Montserrat'">
                        <i class="fa fa-warning text-danger"></i>  @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger font-weight-bold " })
                    </div>
                }
            </div>
            <div class="form-row justify-content-center">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", style = "margin:5px;" })
            </div>
          
            
            <div class="container justify-content-center pt-2">
                <button class="btn  w-auto btn-primary font-weight-bold" type="submit" value="Register" role="button"> Register </button>

                <p class="font-weight-light text-white p-3 text-wrap" style="font-family:montserrat">
                    Register your account today and become part of the nugget family with about 10000+ users using the app on a daily basis.
                </p>


            </div>
        }

    </div>
    </div>
   
